<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../src/css/main.css">
  <script src="../src/lib/fontawesome/js/all.js"></script>
  <script src="../src/js/components/categories.js"></script>
  <script src="../src/js/components/playlists.js"></script>
  <script src="../src/js/spotify-api/SpotifyApp.js"></script>
  <script src="../src/js/components/home.js"></script>
  <title>Spotify</title>
</head>

<body onload="init()">
  <nav class="nav-sp">
    <i class="fa-brands fa-spotify"></i>
    <ul class="nav-list">
      <li class="nav-home"><a href="../index.html"><i class="fa-solid fa-house"></i></a></li>
      <li class="nav-artist"><a href="#artists"><i class="fa-solid fa-users"></i></a></li>
      <li class="nav-music"><a href="#music"><i class="fa-solid fa-music"></i></a></li>
      <li class="nav-login"><a href="http://localhost:8888"><i class="fa-solid fa-user"></i></a></li>
    </ul>
  </nav>
  <main>
    <h1>Playlists</h1>
    <section class="section playlists-section" id="playlists">
      <div class="container container-playlists">
      </div>
    </section>
  </main>
</body>

</html>