h1 {
  position: relative;
  width: fit-content;
  margin: 0;
  margin-left: 10%;
  background: linear-gradient(
    to left top,
    #e6e6e6,
    #dee3ef,
    #cbe3f6,
    #b1e5f8,
    #97e7ef,
    #8ce9ea,
    #84ebe3,
    #7fecd9,
    #79f0df,
    #71f4e4,
    #69f7eb,
    #5ffbf1
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h2 {
  margin: 1vh 2vw;
  width: fit-content;
  color: var(--secondary-1);
}