h1{
  position: relative;
  width: fit-content;
  margin: 0;
  margin-left: 10%;
}

h2{
  position: relative;
  width: fit-content;
  margin: 0;
  margin-left: 10%;
}

.categories-section{
  height: 100%;
  width: 90%;
  position: relative;
  margin: 0;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
}

.categories-section div{
  height: 275px;
  width: 275px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 5px;
}

.categories-section div:hover{
  background-color: white;
  opacity: 0.5;
}

#more-categories{
  height: 52px;
  width: 80px;
  border-radius: 3px;
  background-color: var(--secondary--9);
  order:1;
  color: var(--secondary--1);
}

