.nav-sp {
  background-color: black;
  color: var(--primary-3);
  position: fixed;
  left: 0;
  top: 0;
  min-width: 55px;
  height: 100vh;
  margin: 0;
  text-align: center;
  align-content: center;
  background-attachment: local;
}

.nav-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 30%;
}

.nav-list li {
  min-height: 50px;
  margin: 2rem 0;
  width: 100%;
}

.nav-list li a {
  color: var(--secondary-3);
  text-decoration: none;
  position: relative;
  top: 1.5vh;
}

.nav-home a:hover,
.nav-artist a:hover,
.nav-music a:hover,
.nav-login a:hover {
  color: var(--primary);
}

.fa-spotify {
  color: var(--primary);
  min-width: 50px;
  min-height: 50px;
  margin: 20% 0;
}
